body{
  margin: 0;
  padding: 0;
}
.header{
  font-size:50px ;
  text-align: center;
}
#sudoku{
  border-collapse:collapse;
  background-color: rgb(255, 253, 242);
  width: 600px;
  height: 600px;
  margin: auto;
  border: 1px ridge black;
}
.sudoku_border{
  border-bottom: 1px dotted black;
  
}

.bottom_border{
  border-bottom: 2px solid black;
}
.right_border{
  border-right: 2px solid black; 
}
td{
  width: 11.1%;
  height: 11.1%;
  text-align: center;
  line-height: 7px;
  border-right: 1px dotted black;
}
.sudoku_form{
  font-size: 17px;
  width: 30%;
  text-align: center;
  line-height: 7px;
  background-color: rgb(255, 253, 242);
  border:none;
  outline: 0;
}